name: goreleaser

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v6

      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: $GITHUB_ACTOR
          password: ${{ secrets.GH_GORELEASER }}

      -
        name: Download Syft
        uses: anchore/sbom-action/download-syft@v0.17.4

      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        timeout-minutes: 45
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean -p 1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_GORELEASER }}
          GOMAXPROCS: 2